@import "./src/assets/scss/mat-theme";

header {
  background: mat-color($ui-accent, 100, .6);
  display: grid;
  grid-template-areas: "hero";
  height: 60vh;
  max-height: 60rem;
  place-items: center;

  > * {
    grid-area: hero;
  }
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.hero-content {
  @include mat-typography-level-to-styles($custom-typography, body-2);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: right;
  z-index: 1;
}
