<mat-toolbar color="primary" class="header" role="toolbar">
    <button mat-icon-button class="burger-icon" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>RealFreeVIN.com</span>
    <span class="nav-spacer"></span>
    <span class="nav-tool-items">
        <a i18n="@@guest-nav.login" routerLink="/login">Вход</a>
        <a i18n="@@guest-nav.registration" routerLink="/registration">Регистрация</a>
        <a i18n="@@guest-nav.help" routerLink="/help">Помощь</a>
<!--        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>-->
    </span>
</mat-toolbar>
