@import "mat-theme";

app-root {
  display: grid !important;
  grid-template-areas: "app-root";
}

.mat-form-field {
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background: mat-color(mat-palette($ui-accent, A400-contrast));
  }
}
