@import "src/assets/scss/styles";
@import "src/assets/scss/mat-theme";

header {
  display: grid;
  grid-template-areas: "hero";
  height: 60vh;
  max-height: 600px;
  place-items: center;
  background: rgb($primary-color, .7);

  > * {
    grid-area: hero;
  }

  .hero__content {
    z-index: 1;
    @include mat-typography-level-to-styles($custom-typography, body-2);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
  }

  h1 {
    @include mat-typography-level-to-styles($custom-typography, display-3);
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
