@import "src/assets/scss/mat-theme";

header {
  background: mat-color($ui-accent, 100, .6);
  display: grid;
  grid-template-areas: "hero";
  height: 60vh;
  max-height: 60rem;
  place-items: center;

  > * {
    grid-area: hero;
  }
}

.hero-content {
  @include mat-typography-level-to-styles($custom-typography, body-2);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: right;
  z-index: 1;
}

//h1 {
//  @include mat-typography-level-to-styles($custom-typography, display-3);
//}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  width: 48rem;

  //.mat-form-field-hint-wrapper {
  //  justify-content: center;
  //}

  .mat-input-element {
    @include mat-typography-level-to-styles($custom-typography, body-2);

    font-size: 4.2rem;
  }

  .mat-hint {
    display: flex;
    width: 100%;
    justify-content: center;

    a {
      color: mat-color(mat-palette($ui-accent, A400));
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
