<div>
    <form [formGroup]="dataForm" id="vin-form">
        <mat-hint>
            <a href="#" i18n="@@general.where_to_find_vin">Где найти код VIN?</a>
        </mat-hint>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="vin-code-input"
                   matInput
                   formControlName="vinCodeInput"
                   [placeholder]="vinInputPlaceholderText"
            />
        </mat-form-field>

        <mat-hint *ngIf="dataForm.controls.vinCodeInput.touched && dataForm.controls.vinCodeInput.valid">
            <a href="#" i18n="@@vin-form.do_know_model_year_select_below">Знаешь год выпуска? Выбери ниже</a>
        </mat-hint>
        <mat-slider *ngIf="!hideModelYearInput"
                    id="model-year"
                    formControlName="modelYearInput"
                    [min]="modelYearMin"
                    [max]="modelYearMax"
                    step="1"
                    [(value)]="modelYearValue"
                    thumbLabel="true"
        ></mat-slider>

        <button id="submit-btn"
                mat-flat-button
                color="primary"
                [disabled]="!dataForm.valid"
                i18n="@@vin-form.decode">Проверить</button>
    </form>
</div>
