@import "./src/assets/scss/mat-theme";

form {
  display: flex;
  flex-direction: column;
  width: 48rem;

  .mat-input-element {
    @include mat-typography-level-to-styles($custom-typography, body-2);

    font-size: 4.2rem;
  }

  .mat-hint {
    display: flex;
    width: 100%;
    justify-content: center;

    a {
      color: mat-color(mat-palette($ui-accent, A400));
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
